<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div class="filter">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Global Filter">
  </mat-form-field>
</div>

<div class="csv-result-table" >
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef >
        <div mat-sort-header>First Name</div>

        <div><mat-form-field>
          <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name Filter">
        </mat-form-field></div>
      </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.race}} </td>
    </ng-container>
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.nationality}} </td>
    </ng-container>
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.class}} </td>
    </ng-container>
    <ng-container matColumnDef="looks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Looks </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.looks}} </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.role}} </td>
    </ng-container>
    <ng-container matColumnDef="context">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Context </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.context}} </td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
      <td mat-cell *matCellDef="let csvData"> {{csvData.source}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>



</div>
