<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div class="controls">
  <div class="globalFilter">
    <mat-form-field>
      <input matInput [(ngModel)]="globalFilter" #ctrl="ngModel" (keyup)="applyFilter($event.target.value)"
        placeholder="Global Filter">
    </mat-form-field>
  </div>
  <app-button (onClick)="clearFilters($event)" [label]="'Clear all filters'"></app-button>
  <app-button (onClick)="random($event.target.value)" [label]="'Get random'"></app-button>
  <mat-form-field style="padding-left: 20px; width:100px !important">
    <input matInput type="number" [formControl]="randomNum" placeholder="How many?">
  </mat-form-field>
</div>

<div class="csv-result-table">
  <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let col of columnsToDisplay; let i = index" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>
        <div>
          <div mat-sort-header class="col-title">{{headers[i+1]}}</div>
          <div>
            <mat-form-field>
              <input matInput class="mat-form-field" [formControl]="specificFilters[col]" placeholder="Search for ...">
            </mat-form-field>
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let csvData"> {{csvData[col]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</div>